
.clickableObjects{
    width:150px; height:150px;
}

#cursor{
    width: 50px;
    z-index: 9999;
    height: 50px;
    position: absolute;
}

#loadCirc{
    width: 65px;
    height: 65px;
    position: absolute;
    visibility: hidden;
}